html,
body {
  margin: 0;
  padding: 0;
}

* {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: black;
}

canvas {
  display: block;
}